.cellphone-shape__cellphone-main-container{
    left: 200px;
}

.circle__cellphone-main-container{
    height: 500px;
    border-bottom-left-radius: 80%;
}

.cellphone-shape__cellphone-main-container{
    margin: 0px;
    left: 25%;
}

.cellphone-main-container{
    height: 100vh;
}

.text-main-container{
    top: 40%;
}