.cellphone-shape__cellphone-main-container{
    left: 90px;
}

.circle__cellphone-main-container{
    width: 40vw;
    position: absolute;
    left: 0px;
    margin: 0px;
    height: 60vh;
}

.text-main-container h1{
    margin: 0px;
}

.text-main-container{
    position: absolute;
    right: 10%;
    top: 35vh;
    margin: auto 0;
    width: 40%;
    
}

.cellphone-shape__cellphone-main-container{
    margin: 0px;
}


.cellphone-main-container{
    height: 100vh;
}